/* changing the background color of the whole page */
body {
    background-color: lightcoral;
}

/* creating a bar with padding, margin, and centered - Header + Footer */
#bar {
    text-align: center;
    color: darkgray;
    background-color: #7c7c7c;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clear: both;
    margin: 10px;
}

/* main content */
.main-container {
    height: 75%;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* left main content box with form - - margin, padding, width as percent */
.content-box{
    background-color: lightpink;
    color:black;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width: 70%;
    float: left;
    border-radius: 15px;
}

/* side bar - margin, padding, width as percent */
#Rules{
    text-align: left;
    background-color:bisque;
    float: right;
    width: 25%;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
}

/* side bar change color when hover */
#Rules:hover {
    background-color: beige;
    float: right;
}


/* style the navigation bar */
#main-nav {
    background-color: rgb(173, 57, 80);
    text-align: center;
}

/* remove default padding and margin from the <ul> */
#main-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;  
    text-align: left;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* style each item in list */
#main-nav ul li{
    display: inline-block;
    padding: 10px;
}

/* style links */
#main-nav ul li a{
    color: rgb(149, 139, 139);    
    text-decoration: none;
}

/* changes backgroun on links when you hover */
#main-nav li:hover{
    background-color: blanchedalmond;
}

/* when you focus on the name text box the width increases */
input[type="text"]:focus {
    width: 302px; 
}
